/**
 * Base - Reset
 */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    font-size: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
}

/**
 * Base
 */

html, body {
    -webkit-height: 100%;
    -moz-height: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/**
 * center
 */

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 720px;
    margin: 0 auto;
}

.center__line {
    font-size: 1.75em;
    line-height: 135%;
}

.center__emphasis {
    font-weight: 900;
    font-style: normal;
}
